<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<div class="card p0">
    <div class="card-header header-before">
        <div class="row">
            <div class="col-md-2">
            <div class="row">
                <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80" class="rounded-xll" width="40" height="40">
            </div>
            </div>
            <div class="col-md-8">
                <h3 class="card-title">The world and Hello</h3>
                <h4 class="card-meta-title">By John Doe</h4>
            </div>
        </div>
    </div>
    <div class="card-ripple-container ripple-e">
        <div class="card-header">
            <img src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=967&amp;q=80" class="card-img">
        </div>
        <div class="card-content">
            <p class="card-meta-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, animi voluptates ea illum nostrum quo sapiente ducimus facere est fugit repellat ratione asperiores culpa itaque dolores ad reprehenderit quas corporis!</p>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-footer-start">
            <button class="text">Button 2</button>
        </div>
        <div class="card-footer-end">
            <button class="icon"><i class="material-icons">favorite</i></button>
            <button class="icon"><i class="material-icons">favorite</i></button>
        </div>
    </div>
</div>
</div>
<div class="col-md-4"></div>
</div>
</div>