@import "web.css";
@import "components/grid.css";
@import "components/appbar.css";
@import "components/drawer.css";
@import "components/animations.css";
@import "components/inputs.css";
@import "components/buttons.css";
@import "components/cards.css";
@import "components/dropdown.css";
@import "components/footer.css";
@import "components/skeleton.css";
@import "components/tables.css";
@import "components/checkbox_radio_switch.css";
@import "components/linear.css";
@import "components/waves.css";

:root {
	--theme-icon: #007FFF;
	--theme-bg: #007FFF;
	--theme-bg-light: #ecefff;
	--theme-text: #007FFF;
}

 @font-face {
    font-family: 'PlusJakartaSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PlusJakartaSans-Regular'), url('../fonts/PlusJakartaSans-Regular.woff') format('woff');
 }

 @font-face {
    font-family: 'PlusJakartaSans-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PlusJakartaSans-Bold'), url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
 }

 @font-face {
    font-family: 'PlusJakartaSans-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('PlusJakartaSans-ExtraBold'), url('../fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
 }

*, *::before, *::after { box-sizing: inherit; scroll-behavior:smooth; }
html { box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-sizing: border-box; text-size-adjust: 100%; }
body { color: rgba(0, 0, 0, 0.87); margin: 0; font-size: 0.875rem; font-family:'PlusJakartaSans-Regular'; font-weight: 400; line-height: 1.43; letter-spacing: 0.01071em; background-color: #fff; opacity: 0; transition: opacity 0.1s; -webkit-transition: opacity 0.1s; }
body::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb { border: none; border-radius: 8px; background-color: rgba(99, 115, 129, 0.48); }
body::-webkit-scrollbar, body *::-webkit-scrollbar { width: 8px; height: 6px; background-color: rgba(145, 158, 171, 0.24); }
a,a:visited{color:#000;text-decoration:none;}
input{ width: 100%; display: block; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out; outline: 0px; }
ul{margin:0;padding:0;list-style: none;}
object,img{width:100%;border-radius: 10px;}
strong,b,.strong{font-family: "PlusJakartaSans-ExtraBold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";}

/* for angular loading */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }   

/* display  */
.df{display:flex;}
.dif{display:inline-flex;}
.db{display:block;}
.dib{display:inline-block;}
.dn{display:none}

/* flex properties */
.jcc{justify-content:center;}
.jcl{justify-content:left;}
.jcr{justify-content:right;}
.jcl{justify-content:left;}
.jcc{justify-content:center;}
.jcse{justify-content:space-evenly;}
.jcsb{justify-content:space-between;}
.aic{align-items:center;}
.ail{align-items:left;}
.air{align-items:right;}

/* height & width */
.h100vh { height: 100vh; }
.h100 { height: 100%; }
.w100 { width: 100%; }
.h50{ height: 50px;}

/* background */
.bgg { background: #f5f5f5; }

/* paddings */
.p0{padding:0px}
.pt10{padding-top:10px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt50{padding-top:50px}

/* margins */
.m0{margin:0px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}

/* positions */
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}

/* boxes */
.box { background-color:#ffffff;color:#212b36;transition:box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms;background-image:none;overflow:hidden;box-shadow:rgb(145 158 171 / 24%) 0 0 2px 0,rgb(145 158 171 / 24%) 0 16px 32px -4px;border-radius:16px;position:relative;z-index:0;padding:24px; }
.box .gray { min-height: 200px; padding: 24px; color: rgb(33, 43, 54); transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; background-image: none; overflow: hidden; border-radius: 16px; position: relative; z-index: 0; box-shadow: none; text-align: left; border: 1px solid #dddfe9; background-color: rgb(232 234 241); }