.hero { margin-top: -40px; background: #edf3ff; color: #0942cb; text-align: center; padding: 100px 45px; }
.hero h1 { font-size: 56px; font-weight: 300; line-height: 56px; margin: 15px 5px; }
.hero h2 { font-size: 18px; font-weight: 300; line-height: 28px; margin: 15px 0 25px; }
.home .body { align-items: center; display: flex; flex-direction: column; padding: 16px; }
.home .body .content{ display: flex; max-width: 920px; margin: 60px 0; }

[hidden]{display:none;visibility:hidden}
.side-menu .brand{text-align:center;text-transform:uppercase;padding:10px 0}
.side-menu .brand span{color:#0942cb}
.side-menu a{text-decoration:none}
.side-menu .main{border-bottom:1px #fff}
.side-menu{background:#fff;position:relative;z-index:100}
.side-menu a,.side-menu label{padding:10px 26px;line-height:24px;margin:0;font-size:13px;cursor:pointer;position:relative;display:block;width:100%;text-align:left;background:0;border:0;text-decoration:none!important;align-items:center;height:48px;position:relative;overflow:hidden;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:currentColor}
.side-menu a,.side-menu label strong{color:#637381;padding-left: 24px;}
.side-menu a,.side-menu label svg{fill:#637381;}
.side-menu a:focus,.nav a:hover,.side-menu label:focus,.side-menu label:hover{background:var(--theme-bg-light);}
.menu-list a,.menu-list label{padding-left:1rem;color:rgba(0,0,0,.54) text-decoration:none!important;display:flex;align-items:center;height:34px;padding:0 50px;position:relative;overflow:hidden;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:currentColor}
.menu-list a:focus,.menu-list a:hover,.menu-list label:focus,.menu-list label:hover{color:#fff;background-color:var(--theme-bg);text-decoration:none!important}
.menu-list a.active,.menu-list a.active{color: #fff; background-color: #7a8084; text-decoration: none!important; font-weight: bold;}
.sub-menu-list a,.sub-menu-list label{padding-left:2rem;padding:4px 15px}
.sub-menu-list a:focus,.sub-menu-list a:hover,.sub-menu-list label:focus,.sub-menu-list label:hover{color:#0942cb}
.sub-sub-menu-list a,.sub-sub-menu-list label{padding-left:3rem;padding:4px 15px}
.sub-sub-menu-list a:focus,.sub-sub-menu-list a:hover,.sub-sub-menu-list label:focus,.sub-sub-menu-list label:hover{color:#0942cb}
.menu-list,.sub-menu-list,.sub-sub-menu-list{height:100%;max-height:0;overflow:hidden;transition:max-height .3s ease-in-out}
.nav__list label{display: flex;}
.nav__list input[type=checkbox]:checked+label+ul{max-height:1000px}
.nav__list label>span{font-size:22px;float:right;transition:-webkit-transform .2s ease;transition:transform .2s ease;transition:transform .2s ease,-webkit-transform .2s ease}
.nav__list label>span{position: absolute; right: 20px;}
.nav__list input[type=checkbox]:checked+label>span{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.nav__list input[type=checkbox]:checked+label{background-color:var(--theme-bg-light);fill: var(--theme-bg);}
.nav__list input[type=checkbox]:checked+label strong{color: var(--theme-bg);}
.nav__list input[type=checkbox]:checked+label svg{fill: var(--theme-bg);}
.side-menu label{margin-bottom:0;display: flex;}
.nav__list input[type=checkbox]:checked+label:after{content:"";position:absolute;right:0;top:0;display:flex;width:3px;height:100%;border-radius:0;background:var(--theme-bg);}
.svg-icon path, .svg-icon polygon, .svg-icon rect { fill: rgba(0,0,0,.5); }
.svg-icon { width: 0.7em; height: 0.7em; }

.getting_started { margin-top:-36px;display:flex; } 
.getting_started .sidebar { border-right: 1px solid rgba(145, 158, 171, 0.24);flex-basis: calc(15%); flex-shrink: 0; height: 100vh; overflow: auto; } 
.getting_started .elements { padding: 20px; flex-basis: calc(85%); position: relative; height: 100vh; overflow: auto; padding-bottom: 100px !important; } 
.getting_started .elements .head{ background: #edf3ff; margin: 0 20px; padding: 20px; min-height: 80px; display: flex; align-items: center; font-weight: 500; text-transform: uppercase; letter-spacing: 0.5px; border-radius: 6px; font-size: 1rem; color: var(--theme-text); } 
.getting_started .elements .script{ padding: 0 22px; } 
.getting_started .elements .script .card{ flex-wrap: wrap; gap: 12px; margin: 25px 0; min-height: 200px; display: flex; justify-content: center; align-items: center; } 
.docs{ display: flex; justify-content: center; align-items: center; text-align: center; } 

pre[class*=language-].line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber}
pre[class*=language-].line-numbers>code{position:relative;white-space:inherit}
.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.line-numbers-rows>span{pointer-events:none;display:block;counter-increment:linenumber}
.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}
code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:0;text-shadow:0 1px rgba(0,0,0,0.3);font-family:Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;tab-size:4;hyphens:none}
pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}
:not(pre)>code[class*=language-],pre[class*=language-]{background:#272822}
:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}
.token.comment,.token.prolog,.token.doctype,.token.cdata{color:slategray}
.token.punctuation{color:#f8f8f2}
.namespace{opacity:.7}
.token.property,.token.tag,.token.constant,.token.symbol,.token.deleted{color:#f92672}
.token.boolean,.token.number{color:#ae81ff}
.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted{color:#a6e22e}
.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string,.token.variable{color:#f8f8f2}
.token.atrule,.token.attr-value,.token.function,.token.class-name{color:#e6db74}
.token.keyword{color:#66d9ef}
:not(pre)>code[class*=language-],pre[class*=language-]{background:#272c34;border-radius:6px;}

/* homepage */

.mat-raised-button{font-size:14px;font-weight:500}
.mat-ripple{overflow:hidden;position:relative}
.mat-button-focus-overlay{background:#000}
.mat-raised-button{color:rgba(0,0,0,.87);background-color:#fff}
.mat-raised-button.mat-accent{color:#fff}
.mat-raised-button.mat-accent{background-color:#ff4081}
.mat-raised-button:not([class*=mat-elevation-z]){box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}
.mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]){box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)}
.docs-svg-primary-fill{fill:#0942cb}
.docs-svg-primary-dark-40-fill{fill:#26316d}
.docs-svg-primary-light-20-fill{fill:#6171c8}
.docs-svg-primary-light-20-stroke{stroke:#6171c8}
.docs-svg-primary-light-20-stop-color{stop-color:#6171c8}
.docs-svg-primary-light-30-stop-color{stop-color:#7583cf}
.docs-svg-primary-light-40-stop-color{stop-color:#8994d6}
.docs-svg-primary-light-60-fill{fill:#b0b8e4}
.docs-svg-primary-light-80-fill{fill:#d8dbf1}
.docs-svg-primary-light-85-fill{fill:#e1e4f5}
app-homepage .docs-homepage-row{color:rgba(0,0,0,.54)}
.mat-raised-button{box-sizing:border-box;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;outline:0;border:0;-webkit-tap-highlight-color:transparent;display:inline-block;white-space:nowrap;text-decoration:none;vertical-align:baseline;text-align:center;margin:0;min-width:64px;line-height:36px;padding:0 16px;border-radius:4px;overflow:visible;transform:translate3d(0,0,0);transition:background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)}
.mat-raised-button::-moz-focus-inner{border:0}
.mat-raised-button::-moz-focus-inner{border:0}
.mat-button-focus-overlay,.mat-button-ripple.mat-ripple{top:0;left:0;right:0;bottom:0;position:absolute;pointer-events:none;border-radius:inherit}
.mat-button-focus-overlay{opacity:0;transition:opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1)}
@media(-ms-high-contrast:active){.mat-button-focus-overlay{background-color:#fff}
}@media(-ms-high-contrast:black-on-white){.mat-button-focus-overlay{background-color:#000}
}@media(-ms-high-contrast:active){.mat-raised-button{outline:solid 1px}
}.docs-homepage-promo[_ngcontent-hqo-c498]{align-items:center;display:flex;flex-direction:column;padding:16px}
.docs-homepage-promo[_ngcontent-hqo-c498] h2[_ngcontent-hqo-c498]{font-size:25px;font-weight:400;margin:0 0 16px;padding:0}
.docs-homepage-promo[_ngcontent-hqo-c498] p[_ngcontent-hqo-c498]{font-size:16px;font-weight:400;line-height:28px;margin:0 0 24px;padding:0}
.docs-homepage-row[_ngcontent-hqo-c498]{display:flex;max-width:920px;margin:60px 0}
.docs-homepage-reverse-row[_ngcontent-hqo-c498]{flex-direction:row-reverse}
.docs-homepage-bottom-start[_ngcontent-hqo-c498]{text-align:center;margin:60px 0}
.docs-homepage-promo-desc[_ngcontent-hqo-c498],.docs-homepage-promo-img[_ngcontent-hqo-c498]{width:50%}
.docs-homepage-promo-img[_ngcontent-hqo-c498]{text-align:center}
.docs-homepage-promo-desc[_ngcontent-hqo-c498]{line-height:2;display:flex;flex-direction:column;justify-content:center}

@media(max-width:720px){
.docs-homepage-bottom-start[_ngcontent-hqo-c498],.docs-homepage-row[_ngcontent-hqo-c498]{margin:15px 0}
#split-left { display: none; }
#split-right { flex-basis: calc(100%) !important;padding: 0px !important; }
.row{ margin-right: 0rem;margin-left: 0rem; }
}