<div class="pf w100">
<div class="getting_started">
<aside class="sidebar" ng-include="'app/views/web/_sidebar.html'"></aside>
<div class="elements">

<div class="head">
    Inputs
</div>
<div class="script">

<div class="card">

<label class="filled">
<input placeholder=" ">
<span>Filled</span>
</label>

<label class="filled">
<input placeholder=" ">
<span>Filled</span>
</label>

<label class="filled">
<input placeholder=" ">
<span>Filled</span>
</label>

</div>

<pre class="language-html line-numbers"><code><xmp>
<label class="filled">
<input placeholder=" ">
<span>Filled</span>
</label>
</xmp></code></pre>


</div>

</div>
</div>
</div>

