<div class="hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 df aic">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
              <div>
                <h1><strong>The CSS Material <br /><span>UI library</span> you <br />always wanted</strong></h1>
                <p>CSS MUI provides a robust, customizable, and accessible library of foundational and advanced components, enabling you to build your own design system and develop React applications faster.</p>
                <div class="docs">
                  <label class="filled w100">
                    <textarea rows="1"  placeholder="" style="text-align: center; font-weight: bold;"><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/qaxim/material@1.3/assets/css/style.css" /></textarea>
                    <span>Copy pase this to head</span>
                  </label>
                </div>
                <a class="btn" href="./components" class="pure-material-button-outlined">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./assets/img/hero.png" alt="">
        </div>
      </div>
    </div>
  </div>