<div class="pf w100">
<div class="getting_started">
<aside class="sidebar" ng-include="'app/views/web/_sidebar.html'"></aside>
<div class="elements">

<div class="head">
    Buttons
</div>
<div class="script">

<div class="card">

<button class="btn">default</button>
<button class="btn blue">Blue</button>
<button class="btn green">Green</button>
<button class="btn red">Red</button>
<button class="btn yellow">Yellow</button>

</div>

<pre class="language-html line-numbers"><code><xmp>
<button class="btn">default</button>
<button class="btn blue">Blue</button>
<button class="btn green">Green</button>
<button class="btn red">Red</button>
<button class="btn yellow">Yellow</button>
</xmp></code></pre>

</div>

</div>
</div>
</div>