<div class="pf w100">
<div class="getting_started">
<aside class="sidebar" ng-include="'app/views/web/_sidebar.html'"></aside>
<div class="elements">

<div class="head">
    Radio
</div>
<div class="script">

<div class="card">

<label class="radio">
    <input type="radio" name="group">
    <span>Radio Option 1</span>
</label>
<label class="radio">
    <input type="radio" name="group">
    <span>Radio Option 2</span>
</label>
<label class="radio">
    <input type="radio" name="group">
    <span>Radio Option 3</span>
</label>

<label class="switch">
    <input type="checkbox">
    <span>Switch</span>
</label>

<label class="checkbox">
    <input type="checkbox">
    <span>Checkbox 1</span>
</label>

<label class="checkbox">
    <input type="checkbox">
    <span>Checkbox 2</span>
</label>

</div>

<pre class="language-html line-numbers"><code><xmp>
<label class="radio">
    <input type="radio" name="group">
    <span>Radio Option 1</span>
</label>
<label class="radio">
    <input type="radio" name="group">
    <span>Radio Option 2</span>
</label>
<label class="radio">
    <input type="radio" name="group">
    <span>Radio Option 3</span>
</label>

<label class="switch">
    <input type="checkbox">
    <span>Switch</span>
</label>

<label class="checkbox">
    <input type="checkbox">
    <span>Checkbox 1</span>
</label>
<label class="checkbox">
    <input type="checkbox">
    <span>Checkbox 2</span>
</label>
</xmp></code></pre>

</div>

</div>
</div>
</div>