<div class="pf w100">
<div class="getting_started">
<aside class="sidebar" ng-include="'app/views/web/_sidebar.html'"></aside>
<div class="elements">

<div class="head">
    Inputs
</div>
<div class="script">

<div class="">




<div id="u_0_v">

    <div class="lightui1">
            <div class="lightui1-shimmer">
                <div class="_2iwr"></div>
                <div class="_2iws"></div>
                <div class="_2iwt"></div>
                <div class="_2iwu"></div>
                <div class="_2iwv"></div>
                <div class="_2iww"></div>
                <div class="_2iwx"></div>
                <div class="_2iwy"></div>
                <div class="_2iwz"></div>
                <div class="_2iw-"></div>
                <div class="_2iw_"></div>
                <div class="_2ix0"></div>
            </div>
    </div>


    <br>
    <p>Light UI 2 vB</p>
    <div class="lightui2">
            <div class="lightui2b-shimmer">
                <div class="_2iwr"></div>
                <div class="_2iws"></div>
                <div class="_2iwt"></div>
                <div class="_2iwu"></div>
                <div class="_2iwv"></div>
                <div class="_2iww"></div>
                <div class="_2iwx"></div>
                <div class="_2iwy"></div>
                <div class="_2iwz"></div>
                <div class="_2iw-"></div>
                <div class="_2iw_"></div>
                <div class="_2ix0"></div>
            </div>
        </div>

    <br>
    <p>Dark UI 1</p>
    <div class="darkui1">
            <div class="darkui1-shimmer">
                <div class="_2iwr"></div>
                <div class="_2iws"></div>
                <div class="_2iwt"></div>
                <div class="_2iwu"></div>
                <div class="_2iwv"></div>
                <div class="_2iww"></div>
                <div class="_2iwx"></div>
                <div class="_2iwy"></div>
                <div class="_2iwz"></div>
                <div class="_2iw-"></div>
                <div class="_2iw_"></div>
                <div class="_2ix0"></div>
            </div>
        </div>

    <br>
    <p>Dark UI 2</p>
    <div class="darkui2">
            <div class="darkui2-shimmer">
                <div class="_2iwr"></div>
                <div class="_2iws"></div>
                <div class="_2iwt"></div>
                <div class="_2iwu"></div>
                <div class="_2iwv"></div>
                <div class="_2iww"></div>
                <div class="_2iwx"></div>
                <div class="_2iwy"></div>
                <div class="_2iwz"></div>
                <div class="_2iw-"></div>
                <div class="_2iw_"></div>
                <div class="_2ix0"></div>
            </div>
        </div>

<br>
    <p>High Contrast 1</p>
    <div class="highcontrast1">
            <div class="highcontrast1-shimmer">
                <div class="_2iwr"></div>
                <div class="_2iws"></div>
                <div class="_2iwt"></div>
                <div class="_2iwu"></div>
                <div class="_2iwv"></div>
                <div class="_2iww"></div>
                <div class="_2iwx"></div>
                <div class="_2iwy"></div>
                <div class="_2iwz"></div>
                <div class="_2iw-"></div>
                <div class="_2iw_"></div>
                <div class="_2ix0"></div>
            </div>
        </div>


    <br>
    <p>High Contrast 2</p>
    <div class="highcontrast2">
            <div class="highcontrast2-shimmer">
                <div class="_2iwr"></div>
                <div class="_2iws"></div>
                <div class="_2iwt"></div>
                <div class="_2iwu"></div>
                <div class="_2iwv"></div>
                <div class="_2iww"></div>
                <div class="_2iwx"></div>
                <div class="_2iwy"></div>
                <div class="_2iwz"></div>
                <div class="_2iw-"></div>
                <div class="_2iw_"></div>
                <div class="_2ix0"></div>
            </div>
        </div>


</div>

</div>

<pre class="language-html line-numbers"><code><xmp>

</xmp></code></pre>


</div>

</div>
</div>
</div>