<div class="pf w100">
<div class="getting_started">
<aside class="sidebar" ng-include="'app/views/web/_sidebar.html'"></aside>
<div class="elements">

<div class="head">
    Tables
</div>
<div class="script">

<div class="card">

    <table>
            <thead>
                <tr>
                    <th>
                    <label class="checkbox">
                    <input type="checkbox" onclick="checkbox(this);">
                    <span></span>
                    </label>
                    </th>
                    <th>Thumb</th>
                    <th>Product Name</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="x in [].constructor(10) track by $index">
                    <td>
                    <label class="checkbox">
                    <input type="checkbox" name="checkbox">
                    <span></span>
                    </label>
                    </td>
                    <td class="zoom"><img src="https://api.kharidar.co/public/uploads/categories/categories-with-bg-final-14.jpg"></td>
                    <td><strong>Nike React Infinity Run Flyknit A.I.R. Chaz Bear</strong></td>
                    <td>12/10/2022</td>
                    <td>In-Stock</td>
                    <td><strong>$ 250</strong></td>
                    <td class="df jcse">
                        <button class="btn">Preview</button>
                        <button class="btn green">Edit</button>
                        <button class="btn red" >Delete</button>
                    </td>
                </tr>

                
            </tbody>
        </table>



         <table>
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="zoom"><img src="https://api.kharidar.co/public/uploads/categories/categories-with-bg-final-14.jpg"></td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>Italy</td>
                </tr>
            </tbody>
        </table>


</div>

<pre class="language-html line-numbers"><code><xmp>
<table>
<thead>
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
    <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
    </tr>
    <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
    </tr>
    <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
    </tr>
    <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
    </tr>
</tbody>
</table>
</xmp></code></pre>


</div>
</div>
</div>
</div>

